<div class="row">
    <div class="col-ss">
  <div class="container">
    <h2>Horror</h2>
    <div class="container"><br><br>
      <div class="card" style="width:200px">
    <!--    <img class="card-img-top" src="../assets/it-original.jpeg" alt="Card image" style="width:100%"id="img1">-->

    <div class="container">
      <!-- Trigger the modal with a button -->
      <img data-toggle="modal" data-target="#myModal16" class="card-img-top"  src="../assets/it-original.jpeg" alt="Card image" style="width:100%" id="img1">
    
      <!-- Modal -->
      <div class="modal fade" id="myModal16" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h2>Horror</h2>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
    
            <div class="modal-body">
              
                <img src="assets\it-original.jpeg">
                <div class="side">
                    <h3>IT</h3>
                    <h6>By : Stephen King</h6><br>
                    <input type="text" value="&#x20b9;350.00" disabled #price>
            
                    <h5>Ratings </h5>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span><br><br>
            
                    <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                    
                   <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                   <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
            
                   <hr>
            
                   <h5>Reviews : </h5><br>
                   <h6>Karthik Bhandary</h6>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span>
                   <span class="fa fa-star checked"></span><br>
                   <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                  </div>
                  </div>
    
            </div>
          </div>
          </div>
          </div>

        <div class="card-body">
          <h4 class="card-title">IT</h4>
          <p class="card-text">Stephen King<br>
          Price:&#x20b9;350.00</p>
         </div>
      </div>
    </div>
      </div>
   </div>
    <div class="col-ss">
        <div class="container"><br><br>
          <div class="container"><br><br>
            <div class="card" style="width:200px">
             <!-- <img class="card-img-top" src="../assets/imgaa.jpg" alt="Card image" style="width:100%" id="img1">-->

             <div class="container">
              <!-- Trigger the modal with a button -->
              <img data-toggle="modal" data-target="#myModal17" class="card-img-top"  src="../assets/imgaa.jpg" alt="Card image" style="width:100%" id="img1">
            
              <!-- Modal -->
              <div class="modal fade" id="myModal17" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                        <h2>Horror</h2>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
            
                    <div class="modal-body">
                      
                        <img src="assets\imgaa.jpg">
                        <div class="side">
                            <h3>Dracula</h3>
                            <h6>By : Bram stoker</h6><br>
                            <input type="text" value="&#x20b9;300.00" disabled #price>
                    
                            <h5>Ratings </h5>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span><br><br>
                    
                            <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                            
                           <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                           <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                    
                           <hr>
                    
                           <h5>Reviews : </h5><br>
                           <h6>Karthik Bhandary</h6>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span><br>
                           <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                          </div>
                          </div>
            
                    </div>
                  </div>
                  </div>
                  </div>

                  
              <div class="card-body">
                <h4 class="card-title">Dracula</h4>
                <p class="card-text">Bram stoker<br>
                Price:&#x20b9;300.00</p>
              </div>
            </div>
          </div>
            </div>  
          </div>
          <div class="col-ss">
              <div class="container"><br><br>
                <div class="container"><br><br>
                  <div class="card" style="width:200px">
                    <!--<img class="card-img-top" src="../assets/jumbies.jpg" alt="Card image" style="width:100%"id="img1">-->

                    <div class="container">
                      <!-- Trigger the modal with a button -->
                      <img data-toggle="modal" data-target="#myModal18" class="card-img-top"  src="../assets/jumbies.jpg" alt="Card image" style="width:100%" id="img1">
                    
                      <!-- Modal -->
                      <div class="modal fade" id="myModal18" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                                <h2>Horror</h2>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                    
                            <div class="modal-body">
                              
                                <img src="assets\jumbies.jpg">
                                <div class="side">
                                    <h3>The Jumbies</h3>
                                    <h6>By : Tracey Baptiste</h6><br>
                                    <input type="text" value="&#x20b9;350.00" disabled #price>
                            
                                    <h5>Ratings </h5>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><br><br>
                            
                                    <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                                    
                                   <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                                   <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                            
                                   <hr>
                            
                                   <h5>Reviews : </h5><br>
                                   <h6>Karthik Bhandary</h6>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span><br>
                                   <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                                  </div>
                                  </div>
                    
                            </div>
                          </div>
                          </div>
                          </div>

                          
                    <div class="card-body">
                      <h4 class="card-title">The Jumbies</h4>
                      <p class="card-text">Tracey Baptiste<br>
                      Price:&#x20b9;350.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
           </div>
           <div class="col-ss">
              <div class="container"><br><br>
             <div class="container"><br><br>
                    <div class="card" style="width:200px">
               <!-- <img class="card-img-top" src="../assets/house.jpg" alt="Card image" style="width:100%" id="img1"> -->

               
               <div class="container">
                <!-- Trigger the modal with a button -->
                <img data-toggle="modal" data-target="#myModal19" class="card-img-top"  src="../assets/house.jpg" alt="Card image" style="width:100%" id="img1">
              
                <!-- Modal -->
                <div class="modal fade" id="myModal19" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                          <h2>Horror</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
              
              
                      <div class="modal-body">
                        
                          <img src="assets\house.jpg">
                          <div class="side">
                              <h3>House of Fear</h3>
                              <h6>By : Jonathan Oliver</h6><br>
                              <input type="text" value="&#x20b9;450.00" disabled #price>
                      
                              <h5>Ratings </h5>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span><br><br>
                      
                              <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="../assets/buy.JPG" alt="buy now"><br><br>
                              
                             <h5>E-Book </h5> &nbsp; <a href="../assets/PART 4 harry potter the goblet of fire .pdf"><img src="../assets/pdf.png"></a><br><br>
                             <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                      
                             <hr>
                      
                             <h5>Reviews : </h5><br>
                             <h6>Karthik Bhandary</h6>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span><br>
                             <p>Great Book!!!!!!!!!!!!!!!!</p>
                            </div>
                            </div>
              
                      </div>
                    </div>
                    </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">House of Fear</h4>
                      <p class="card-text">Jonathan Oliver<br>
                      Price:&#x20b9;450.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
              
                  
                </div>
