<div class="row">
    <div class="col-ss">
  <div class="container">
    <h2>Love stories</h2>
    <div class="container"><br><br>
      <div class="card" style="width:200px">
        <!--<img class="card-img-top" src="../assets/image.jpg" alt="Card image" style="width:100%"id="img1">-->

        <div class="container">
          <!-- Trigger the modal with a button -->
          <img data-toggle="modal" data-target="#myModal8" class="card-img-top"  src="../assets/image.jpg" alt="Card image" style="width:100%" id="img1">
        
          <!-- Modal -->
          <div class="modal fade" id="myModal8" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <h2>Love stories</h2>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
        
                <div class="modal-body">
                  
                    <img src="assets\image.jpg">
                    <div class="side">
                        <h3>Wuthering Heights</h3>
                        <h6>By : Emily Bronte</h6><br>
                        <input type="text" value="&#x20b9;250.00" disabled #price>
                
                        <h5>Ratings </h5>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span><br><br>
                
                        <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                        
                       <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                       <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                
                       <hr>
                
                       <h5>Reviews : </h5><br>
                       <h6>Karthik Bhandary</h6>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star checked"></span>
                       <span class="fa fa-star checked"></span><br>
                       <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                      </div>
                      </div>
        
                </div>
              </div>
              </div>
              </div>

        <div class="card-body">
          <h4 class="card-title">Wuthering Heights</h4>
          <p class="card-text">Emily Bronte<br>
          Price:&#x20b9;250.00</p>
         
        </div>
      </div>
    </div>
      </div>
   </div>
    <div class="col-ss">
        <div class="container"><br><br>
          <div class="container"><br><br>
            <div class="card" style="width:200px">
             <!-- <img class="card-img-top" src="../assets/love.jpg" alt="Card image" style="width:100%" id="img1"> -->

             <div class="container">
              <!-- Trigger the modal with a button -->
              <img data-toggle="modal" data-target="#myModal9" class="card-img-top"  src="../assets/love.jpg" alt="Card image" style="width:100%" id="img1">
            
              <!-- Modal -->
              <div class="modal fade" id="myModal9" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                        <h2>Love stories</h2>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
            
                    <div class="modal-body">
                      
                        <img src="assets\love.jpg">
                        <div class="side">
                            <h3>The Time Of My Life</h3>
                            <h6>By : Ceclia Ahern</h6><br>
                            <input type="text" value="&#x20b9;450.00" disabled #price>
                    
                            <h5>Ratings </h5>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span><br><br>
                    
                            <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                            
                           <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                           <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                    
                           <hr>
                    
                           <h5>Reviews : </h5><br>
                           <h6>Karthik Bhandary</h6>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span><br>
                           <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                          </div>
                          </div>
            
                    </div>
                  </div>
                  </div>
                  </div>

              <div class="card-body">
                <h4 class="card-title">The Time Of My Life</h4>
                <p class="card-text">Ceclia Ahern<br>
                   Price:&#x20b9;450.00</p>
              </div>
            </div>
          </div>
            </div>  
          </div>
          <div class="col-ss">
              <div class="container"><br><br>
                <div class="container"><br><br>
                  <div class="card" style="width:200px">
                   <!-- <img class="card-img-top" src="../assets/how.jpg" alt="Card image" style="width:100%"id="img1">-->

                    <div class="container">
                      <!-- Trigger the modal with a button -->
                      <img data-toggle="modal" data-target="#myModal10" class="card-img-top"  src="../assets/how.jpg" alt="Card image" style="width:100%" id="img1">
                    
                      <!-- Modal -->
                      <div class="modal fade" id="myModal10" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                                <h2>Love stories</h2>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                    
                            <div class="modal-body">
                              
                                <img src="assets\how.jpg">
                                <div class="side">
                                    <h3>How To Stop Time</h3>
                                    <h6>By : Matt Haig</h6><br>
                                    <input type="text" value="&#x20b9;250.00" disabled #price>
                            
                                    <h5>Ratings </h5>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span><br><br>
                            
                                    <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                                    
                                   <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                                   <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                            
                                   <hr>
                            
                                   <h5>Reviews : </h5><br>
                                   <h6>Karthik Bhandary</h6>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span><br>
                                   <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                                  </div>
                                  </div>
                    
                            </div>
                          </div>
                          </div>
                          </div>

                    <div class="card-body">
                      <h4 class="card-title">How To Stop Time</h4>
                      <p class="card-text">Matt Haig<br>
                     Price:&#x20b9;250.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
           </div>
           <div class="col-ss">
              <div class="container"><br><br>
             <div class="container"><br><br>
                    <div class="card" style="width:200px">
               <!-- <img class="card-img-top" src="../assets/untold.jpg" alt="Card image" style="width:100%" id="img1">-->

               <div class="container">
                <!-- Trigger the modal with a button -->
                <img data-toggle="modal" data-target="#myModal11" class="card-img-top"  src="../assets/untold.jpg" alt="Card image" style="width:100%" id="img1">
              
                <!-- Modal -->
                <div class="modal fade" id="myModal11" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                          <h2>Love stories</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
              
              
                      <div class="modal-body">
                        
                          <img src="assets\untold.jpg">
                          <div class="side">
                              <h3>The Untold Love Stories</h3>
                              <h6>By : Ajitabh Bose</h6><br>
                              <input type="text" value="&#x20b9;200.00" disabled #price>
                      
                              <h5>Ratings </h5>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span><br><br>
                      
                              <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                              
                             <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                             <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                      
                             <hr>
                      
                             <h5>Reviews : </h5><br>
                             <h6>Karthik Bhandary</h6>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span><br>
                             <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                            </div>
                            </div>
              
                      </div>
                    </div>
                    </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">The Untold Love Stories</h4>
                      <p class="card-text">Ajitabh Bose<br>
                     Price:&#x20b9;200.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
                </div>
                </div>

