<div class="head">
        About Us
        <hr>
</div>
<div class="down">
   <p>
        This website provides an e-commerce platfrom for Online Book Library and Book Sale.
        <br/>
        It provides the user with a catalog of different books available for Online Reading as 
        a Library Service and also purchase the hard-copy of the book from the store.In order 
        to facilitate online purchase a shopping cart is provided to the user.
        <br/>
        In order to provide Library Service we are providing various membership categories 
        (like Trial, Monthly, Quarterly,  Half-Yearly and Yearly).
        <br/>
        Membership Type will decide the nominal Subscription Fees.
        <br/>
        A single member will be able to subscribe 4 books for a week.
   </p>
</div>