<div class="row">
    <div class="col-ss">
      <div class="container">
          <h2>Fiction</h2>
          <div class="container">
          <br><br>
          <div class="card" style="width:200px">
              <div class="container">
                    <!-- Trigger the modal with a button -->
                    <img  data-toggle="modal" data-target="#myModal" class="card-img-top"  src="../assets/bookDisp.jpg" alt="Card image" style="width:100%" id="img1">
        
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
            
                        <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                  <h2>Fiction</h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                                      <img src="assets\bookDisp.jpg">
                                  <div class="side">
                                        <h3>The Hunger Games</h3>
                                        <h6>By : Suzanne Collins</h6><br>
                                        <input type="text" value="&#x20b9;200.00" disabled #price>
                                
                                        <h5>Ratings </h5>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span><br><br>
                                
                                        <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                  
                                      <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                                      <h5>Description :</h5> <p>After winning the brutal Hunger Games, Katniss and Peeta return to their district, hoping for a peaceful future. But their victory has caused rebellion to break out ... and the Capitol has decided that someone must pay. As Katniss and Peeta are forced to visit the districts on the Capitol's Victory Tour, the stakes are higher than ever. Unless they can convince the world that they are still lost in their love for each other, the consequences will be horrifying. Then comes the cruellest twist: the contestants for the next Hunger Games are announced, and Katniss and Peeta are forced into the arena once more.</p><br><br>
                                
                                      <hr>
                                
                                      <h5>Reviews : </h5><br>
                                      <h6>Vikram</h6>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span><br>
                                      <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                      </div>
                      </div>
        
                </div>
              </div>
              
            </div>
          </div>
        <div class="card-body">
          <h4 class="card-title">The Hunger Games</h4>
          <p class="card-text">Suzanne Collins<br>
          Price:&#x20b9; 200.00</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
    <div class="col-ss">
        <div class="container"><br><br>
          <div class="container"><br><br>
            <div class="card" style="width:200px">
  
              <div class="container">
                <!-- Trigger the modal with a button -->
                <img data-toggle="modal" data-target="#myModal1" class="card-img-top"  src="../assets/twilight.jpg" alt="Card image" style="width:100%" id="img1">
              
                <!-- Modal -->
                <div class="modal fade" id="myModal1" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                          <h2>Fiction</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
              
              
                      <div class="modal-body">
                        
                          <img src="assets\twilight.jpg">
                          <div class="side">
                              <h3>The Twilight</h3>
                              <h6>By : Stephenie Meyer</h6><br>
                              <input type="text" value="&#x20b9;250.00" disabled #price>
                      
                              <h5>Ratings </h5>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star "></span>
                              <span class="fa fa-star"></span><br><br>
                      
                              <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                              
                             <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                             <h5>Description :</h5> <p>Twilight (Twilight Saga) is written by Stephenie Meyer. The author of the book has released 4 novels annually from 2005 to 2008. The story is based on a teenage girl named Bella Swan who moves to Forks, Washington and falls in love with Edward Cullen, who is a 104 year old vampire. The book has gained popularity, since the release of its first novel in 2005. The love story of a girl and a vampire was popular amongst all age groups. All the four books have won various awards and most notably the 2008 British Book Award for "Children's Book of the Year" for Breaking Dawn, whereas the entire series had won the 2009 Kids' Choice Award for Favourite Book. Globally, 120 million copies of the series have sold out in more than 38 languages.</p><br><br>
                      
                             <hr>
                      
                             <h5>Reviews : </h5><br>
                             <h6>Irfan</h6>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span>
                             <span class="fa fa-star"></span><br>
                             <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                            </div>
                            </div>
              
                      </div>
                    </div>
                    </div>
                    </div>
  
              <div class="card-body">
                <h4 class="card-title">Twilight</h4>
                <p class="card-text">Stephenie Meyer<br> 
                Price:&#x20b9;250.00</p>
              </div>
            </div>
          </div>
            </div>  
          </div>
  
  
  
  
          <div class="col-ss">
              <div class="container"><br><br>
                <div class="container"><br><br>
                  <div class="card" style="width:200px">
                   <!-- <img class="card-img-top" src="../assets/img4.jpg" alt="Card image" style="width:100%" id="img1"> -->
  
                    <div class="container">
                      <!-- Trigger the modal with a button -->
                      <img data-toggle="modal" data-target="#myModal2" class="card-img-top"  src="../assets/img4.jpg" alt="Card image" style="width:100%" id="img1">
                    
                      <!-- Modal -->
                      <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                                <h2>Fiction</h2>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                    
                    
                            <div class="modal-body">
                              
                                <img src="assets\img4.jpg">
                                <div class="side">
                                    <h3>The lords of rings</h3>
                                    <h6>By : J R R Tolkein</h6><br>
                                    <input type="text" value="&#x20b9;300.00" disabled #price>
                            
                                    <h5>Ratings </h5>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span><br><br>
                            
                                    <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                                    
                                   <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                                   <h5>Description :</h5> <p>All three parts of epic masterpiece ‘The Lord of the Rings’ in one paperback. Features brand new packaging, the definitive edition of the text, fold-out flaps with the original two-colour maps, and a revised and expanded index. Sauron, the Dark Lord, has gathered to him all the Rings of Power – the means by which he intends to rule Middle-earth. All he lacks in his plans for dominion is the One Ring – the ring that rules them all – which has fallen into the hands of the hobbit, Bilbo Baggins.</p><br><br>
                            
                                   <hr>
                            
                                   <h5>Reviews : </h5><br>
                                   <h6>Baskar</h6>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span>
                                   <span class="fa fa-star checked"></span><br>
                                   <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                                  </div>
                                  </div>
                    
                            </div>
                          </div>
                          </div>
                          </div>
  
  
                    <div class="card-body">
                      <h4 class="card-title">The Lord of the Rings</h4>
                      <p class="card-text">J.R.R Tolkein<br>
                      Price:&#x20b9;300.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
           </div>
           <div class="col-ss">
              <div class="container"><br><br>
             <div class="container"><br><br>
                    <div class="card" style="width:200px">
              <!--  <img class="card-img-top" src="../assets/Catwoman.jpg" alt="Card image" style="width:100%" id="img1"> -->
  
                <div class="container">
                  <!-- Trigger the modal with a button -->
                  <img data-toggle="modal" data-target="#myModal3" class="card-img-top"  src="../assets/Catwoman.jpg" alt="Card image" style="width:100%" id="img1">
                
                  <!-- Modal -->
                  <div class="modal fade" id="myModal3" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <h2>Fiction</h2>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                
                        <div class="modal-body">
                          
                            <img src="assets\Catwoman.jpg">
                            <div class="side">
                                <h3>Catwoman</h3>
                                <h6>By : soul Steala</h6><br>
                                <input type="text" value="&#x20b9;400.00" disabled #price>
                        
                                <h5>Ratings </h5>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span><br><br>
                        
                                <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                                
                               <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                               <h5>Description :</h5> <p>When the Bat's away, the Cat will play. It's time to see how many lives this cat really has. Two years after escaping Gotham City's slums, Selina Kyle returns as the mysterious and wealthy Holly Vanderhees. She quickly discovers that with Batman off on a vital mission, Batwing is left to hold back the tide of notorious criminals. Gotham City is ripe for the taking.</p><br><br>
                        
                               <hr>
                        
                               <h5>Reviews : </h5><br>
                               <h6>Karthik Bhandary</h6>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span><br>
                               <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                              </div>
                              </div>
                
                        </div>
                      </div>
                      </div>
                      </div>
  
  
                    <div class="card-body">
                      <h4 class="card-title">CatWoman </h4>
                      <p class="card-text">Soul Steala<br>
                      Price:&#x20b9; 400.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
               </div>
  
      </div>
