
<div class="jumbotron" id="app-header">
    <div class="applogo" style="float:left; height: 150px; width: 200px;">
        <img src="../assets/bookhubImg.png" style="height: 100%; width: 100%">
    </div>
      <p><i>An Ultimate Companinon...</i></p>
</div>
  
<div class="navBar">
    <ul>
      <li>
        <a routerLink=''>Home</a> |
      </li>
      <li class="dropdown">
        <a routerLink='categories'>Categories</a>|
          <div class="dropdown_list">
            <a routerLink="books">&nbsp;&nbsp;Books</a>
            <a routerLink="articles">Articles</a>
            <a routerLink="e-book">E-Book</a>
          </div>
      </li>
      <li>
          <a routerLink="user-account">User Account</a>|
      </li>
      <li>
          <a routerLink='about-us'>About Us</a>|
      </li>
      <li>
        <a routerLink='contact-us'>Contact Us</a>
      </li>
    </ul>
  
        <a class="optNavRight" routerLink='sign-up'>Sign Up </a>
        <a class="optNavRight" routerLink='sign-in'>Sign In </a> 
</div>

 <router-outlet></router-outlet>

<div id="footer" class="jumbotron">
    <div class="imgs">
        <i><b>Our Customer care support is available 24/7 : +9185555555</b></i>
        <a href="https://www.facebook.com/">
              <img src="./assets/fb.png" style="border-radius:10px; width:30px; height:30px; float:right;"/>
        </a>
        <a href="https://www.twitter.com/">
              <img src="./assets/tw.png" style="border-radius:10px; width:30px; height:30px; float:right;"/>
        </a>
        <a href="https://www.gmail.com/">
              <img src="./assets/gmail.png" style="border-radius:10px; width:30px; height:30px; float:right;"/>
        </a>
    </div>

    <hr>

    <div class="left">
        <img src="../assets/bookhubImg.png"  height="40px" width="100px">
        <p>
            This website deals with an e-commerce platform for Online Book Library and Book Sale.
            It provides the user with a catalog of different books available for Online Reading as 
            a Library Service and also purchase the hard-copy of the book from the store.
        </p>
    </div>

    <div class="right">
      <h4>Address Line</h4>
      <address>
          #8,2ndFloor, <br>
          BTM Layout, <br>
          2nd Stage, <br>
          Udupi garden bus stop, <br>
          Bangalore-560 076 <br>
          Ph: +9185555555 <br>
          Email:contact@bookhub.in
      </address>
    </div>

    <div class="cats">
      <h4>Categories</h4>
      <p>
          Fiction<br>
          Non-Fiction<br>
          Love Stories<br>
          Health & Beauty<br>
          Horror<br>
          Biography
      </p>
    </div>

    <div class ="center">
      <h4>Get to know Us</h4>
      <p>
        About<br>
        Contact us<br>
        Career<br>
        Help Center
      </p>
    </div>
</div>
  <div class="foot">&copy; Copyright reserved by Bookhub.in</div>
