<div class="row">
    <div class="col-ss">
  <div class="container">
    <h2>health &</h2>
    <h2>beauty</h2>
    <div class="container"><br>
      <div class="card" style="width:200px">
       <!-- <img class="card-img-top" src="../assets/eating.jpg" alt="Card image" style="width:100%"id="img1"> -->

       <div class="container">
        <!-- Trigger the modal with a button -->
        <img data-toggle="modal" data-target="#myModal12" class="card-img-top"  src="../assets/eating.jpg" alt="Card image" style="width:100%" id="img1">
      
        <!-- Modal -->
        <div class="modal fade" id="myModal12" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h2>health & beauty</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
      
      
              <div class="modal-body">
                
                  <img src="assets\eating.jpg">
                  <div class="side">
                      <h3>Eating For Beauty</h3>
                      <h6>By : David Wolfe</h6><br>
                      <input type="text" value="&#x20b9;300.00" disabled #price>
              
                      <h5>Ratings </h5>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span><br><br>
              
                      <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                      
                     <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                     <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
              
                     <hr>
              
                     <h5>Reviews : </h5><br>
                     <h6>Karthik Bhandary</h6>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span><br>
                     <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                    </div>
                    </div>
      
              </div>
            </div>
            </div>
            </div>

        <div class="card-body">
          <h4 class="card-title">Eating For Beauty </h4>
          <p class="card-text">David Wolfe<br>
         Price:&#x20b9;300.00</p>
         
        </div>
      </div>
    </div>
      </div>
   </div>
    <div class="col-ss">
        <div class="container"><br><br>
          <div class="container"><br><br>
            <div class="card" style="width:200px">
             <!-- <img class="card-img-top" src="../assets/diet.jpg" alt="Card image" style="width:100%" id="img1"> -->

             <div class="container">
              <!-- Trigger the modal with a button -->
              <img data-toggle="modal" data-target="#myModal13" class="card-img-top"  src="../assets/diet.jpg" alt="Card image" style="width:100%" id="img1">
            
              <!-- Modal -->
              <div class="modal fade" id="myModal13" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                        <h2>health & beauty</h2>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
            
                    <div class="modal-body">
                      
                        <img src="assets\diet.jpg">
                        <div class="side">
                            <h3>Perfect Health Diet</h3>
                            <h6>By : Paul Jammet ph.d</h6><br>
                            <input type="text" value="&#x20b9;500.00" disabled #price>
                    
                            <h5>Ratings </h5>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span><br><br>
                    
                            <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                            
                           <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                           <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                    
                           <hr>
                    
                           <h5>Reviews : </h5><br>
                           <h6>Karthik Bhandary</h6>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span>
                           <span class="fa fa-star checked"></span><br>
                           <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                          </div>
                          </div>
            
                    </div>
                  </div>
                  </div>
                  </div>

              <div class="card-body">
                <h4 class="card-title">Perfect Health Diet</h4>
                <p class="card-text">Paul Jammet ph.d<br>
                Price:&#x20b9;500.00</p>
              </div>
            </div>
          </div>
            </div>  
          </div>
          <div class="col-ss">
              <div class="container"><br><br>
                <div class="container"><br><br>
                  <div class="card" style="width:200px">
                  <!--  <img class="card-img-top" src="../assets/plant.jpg" alt="Card image" style="width:100%"id="img1"> -->

                  <div class="container">
                    <!-- Trigger the modal with a button -->
                    <img data-toggle="modal" data-target="#myModal14" class="card-img-top"  src="../assets/plant.jpg" alt="Card image" style="width:100%" id="img1">
                  
                    <!-- Modal -->
                    <div class="modal fade" id="myModal14" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                              <h2>health & beauty</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                  
                  
                          <div class="modal-body">
                            
                              <img src="assets\plant.jpg">
                              <div class="side">
                                  <h3>Plant Powered</h3>
                                  <h6>By : Vegan</h6><br>
                                  <input type="text" value="&#x20b9;400.00" disabled #price>
                          
                                  <h5>Ratings </h5>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span><br><br>
                          
                                  <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                                  
                                 <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                                 <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                          
                                 <hr>
                          
                                 <h5>Reviews : </h5><br>
                                 <h6>Karthik Bhandary</h6>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span><br>
                                 <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                                </div>
                                </div>
                  
                          </div>
                        </div>
                        </div>
                        </div>

                    <div class="card-body">
                      <h4 class="card-title">Plant Powered</h4>
                      <p class="card-text">Vegan<br>
                      Price:&#x20b9;400.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
          </div>
           <div class="col-ss">
              <div class="container"><br><br>
             <div class="container"><br><br>
                    <div class="card" style="width:200px">
               <!-- <img class="card-img-top" src="../assets/beauty.jpg" alt="Card image" style="width:100%" id="img1"> -->

               <div class="container">
                <!-- Trigger the modal with a button -->
                <img data-toggle="modal" data-target="#myModal15" class="card-img-top"  src="../assets/beauty.jpg" alt="Card image" style="width:100%" id="img1">
              
                <!-- Modal -->
                <div class="modal fade" id="myModal15" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                          <h2>health & beauty</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
              
              
                      <div class="modal-body">
                        
                          <img src="assets\beauty.jpg">
                          <div class="side">
                              <h3>Feel Great</h3>
                              <h6>By : Paige T.simson</h6><br>
                              <input type="text" value="&#x20b9;450.00" disabled #price>
                      
                              <h5>Ratings </h5>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span><br><br>
                      
                              <input (click)="submit(price.value)" class="submit" type="image" name="submit" src="assets\buy.JPG" alt="buy now"><br><br>
                              
                             <h5>E-Book </h5> &nbsp; <a href="assets\PART 4 harry potter the goblet of fire .pdf"><img src="assets\pdf.png"></a><br><br>
                             <h5>Description :</h5> <p>The Triwizard Tournament is to be held at Hogwarts. Only wizards who are over seventeen are allowed to enter - but that doesn't stop Harry dreaming that he will win the competition. Then at Hallowe'en, when the Goblet of Fire makes its selection, Harry is amazed to find his name is one of those that the magical cup picks out. He will face death-defying tasks, dragons and Dark wizards, but with the help of his best friends, Ron and Hermione, he might just make it through - alive!</p><br><br>
                      
                             <hr>
                      
                             <h5>Reviews : </h5><br>
                             <h6>Karthik Bhandary</h6>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span><br>
                             <p>Great Book!!!!!!!!!!!!!!!!!!</p>
                            </div>
                            </div>
              
                      </div>
                    </div>
                    </div>
                    </div>

                    <div class="card-body">
                      <h4 class="card-title">Feel Great</h4>
                      <p class="card-text">Paige T.simson<br>
                      Price:&#x20b9;450.00</p>
                     
                    </div>
                  </div>
                </div>
                  </div>
                </div>
                </div>
